/* Copyright 2002-2008 Mark Logic Corporation.  All Rights Reserved. */
input[type=text], textarea {
	width: 100%;
}
textarea {
	height: 6em;
}
.ML-control {
	margin: 1.5em 0;
}
button.ML-action {
	position: relative;
	padding: 0.25em;
	padding-left: 16px;
}
button.ML-action img {
	position: absolute;
	left: 0.5em;
}
#ML-Message {
	position: absolute;
	top: 0.5em;
	margin: 0 4em;
	padding: 0.25em 1.5em;
	text-align: center;
	
	background-color: #FDF1B1;
	border: solid 1px #DEBE90;
}
