@import url('default.css');
body {
	background-color: #D8E4F2;
}
body, td, th, button, legend { /* Cascade is broken */
	color: #154A93;
}
a, a:link, a:visited, a:hover, a:active {
	color: #154A93;
}
#ML-Navigation {
	background-color: #7D99C5;
	color: #fff;
}
#ML-Navigation a {
	color: #fff;
}

select {
   text-align: left;
}

#ML-test
{
	text-align: left;
}
