 .resize {
    width: 100px;
    height : auto;
    
    }

.resize {
    width: auto;
    height : 200px;
    
} 

.ML-hit-metadata {
	margin-top: 0.25em;
}
.ML-hit-metadata li {
	display: inline;
	margin: 0 0.5;
	font-size: 80%;
}
 
