/*#header_center {
margin: 0px auto;
width: 180px;
min-height: 40px;
}

#header_image{
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
}

#tabs_center
{
	margin: 0px auto;
	width: 100px;
}
*/
ul, li, a, p, h2, h1, h3, h4, h5, div {
margin:0;
padding:0;
}

body {
	background-color:#DEE9F8;
	/*background-color:#d3e0f0;*/
	margin:0px;
	padding:0px;
	font-family:"Segoe UI"; calibri;
	font-size:11px;
	color:#073c82;
}

h3 {
	/*font-size:13px;*/
	font-size:11px;
	font-weight:normal;
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	margin-top:24px;
}

.inspectorDetails {
	padding-left:30px;
	padding-right:30px;
}

a {
	text-decoration:none;
	color:#073c82;
}


#topnav {
	border-bottom:solid 1px #a1c3f5;
	height:48px;
        background-color:#d0def0; /*NEW*/
}
	
#topnav ul {
	list-style-type: none ;
	margin: 0px;
	padding: 0px ;
}
 
#topnav li {
	display: inline ;
	padding: 0px;
	margin:0px;
	float:left;
}

#topnav a {
	background-repeat: no-repeat;
	background-position:0px 0px;
	text-decoration:none;
	width:62px;
	height:48px;
	display:block;
}

#icon-word {	background-image:url(../images/icon-word.png);}
#icon-metadata{	background-image:url(../images/icon-metadata.png);}
#icon-search{	background-image:url(../images/icon-search.png);}
#icon-merge{	background-image:url(../images/icon-merge.png);}
	
#topnav a:hover {
	background-position:0px -48px;
}

/*#topnav a:active {
	background-position:0px -96px;
}*/

#topnav a.fronticon {
	background-position:0px -96px;
}

.red  {
		border:1px solid red;
}

#tabs {
	border-top:1px solid #d3e0f0;
	background-color:#B2D2FF;
	height:24px;
	border-bottom: 1px solid #7BA1DC; /*NEW*/
}

#tabs ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px ;
	padding-left:40px;
}

#tabs ul li {
	display:inline;
	background-image:url(../images/tab.png);
	background-repeat: no-repeat;
	background-position:0px 0px;
	float:left;
	height:24px;
	width:90px;
	/*width:100px;*/

}

#tabs li a {
	/*color:#073c82; OLD*/
	text-decoration:none;
	margin-left:5px;
	padding-left:15px;
	padding-right: 15px;
	margin-top:5px;
	float:left;
}

#tabs li.fronttab {
	background-position:0px -24px;
	border-bottom:1px solid #DEE9F8; /*NEW*/
}

#buttonbar {
	margin-top:12px;
	height:22px;
	margin-bottom:20px;
}

#buttonbar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px ;
	padding-left:60px; /*was 40, check with JD, center? */
}

#buttonbar li {
	display:inline;
	background-image:url(../images/tab.png);
	background-repeat: no-repeat;
	background-position:0px 0px;
	float:left;
	
}

#buttonbar li a {
	float:left;
	height:22px;
	width:30px;

	/*height:21px;
	width:29px;*/
	/*border:1px solid red;*/
}
#buttonbar li a.first {
	width:31px;
}

#buttonbar li a.last {
	width:31px;
}

#icon-textctrl { background-image:url(../images/icon-textctrl.png); }
#icon-imgctrl { background-image:url(../images/icon-imgctrl.png); }
#icon-calctrl { background-image:url(../images/icon-calctrl.png); }
#icon-dropctrl { background-image:url(../images/icon-dropctrl.png); }
#icon-comboctrl { background-image:url(../images/icon-comboctrl.png); }

#buttonbar a:hover {
	background-position:0px -22px;
}

/*#buttonbar a:active {
	background-position:0px -44px;
}*/

#buttonbar a.selectedctrl {
        background-position:0px -44px;
}


ul.buttongroup {
	list-style-type: none;
	margin:0px;
	padding:0px;
	margin-bottom:30px;
}

ul.buttongroup li {
	float:left;
	display:inline;
	text-align:center;

}

ul.buttongroup li a {
	float:left;
	width:104px;
	height:22px;
	background-image:url(../images/btn.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	margin-right:10px;
	margin-top:5px;
}

ul.buttongroup li a:hover {
	background-position:0px -22px;
}

ul.buttongroup li a:active {
	background-position:0px -44px;
}
	/* NEW WITH TREE PANE STARTING BELOW*/
/*
ul.buttongroup li a.clicked {
	background-position:0px -44px;
}
	*/
.tooltip {
	float:left;
	max-width:200px;
	border:1px solid #5F5F5F;
	background-color:#D4E0F4;
	color:#393939;
	padding-top:10px;
	padding-bottom:10px;	
}

.tooltip h3 {
	margin-top:0px;
	font-size:10px;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
}

.tooltip p {
	padding-left:20px;
	padding-right:15px;
}

#treeWindow {
	background:#fff;
	margin-left:0px;
	padding-top:5px;
	overflow:auto;
	height:200px;
	
}

#treeWindow h2 {
	margin:0px;
	padding:0px;
	background-image:url(../images/icon-document.png);
	background-repeat:no-repeat;
	font-size:14px;
	margin-bottom:5px;
}

#treeWindow h2 a {

	display:block;
	padding-left:30px;
		}

#treeWindow ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#treeWindow li {
	display:block;
	border-top:1px solid #ccc;
	margin: 0;
	padding: 0;
	
}



#treeWindow a {
        display:block;
	padding-left:10px;
	padding-top:4px;
	padding-bottom:4px;
}

#treeWindow li a:hover {
	background:url(../images/bg-li-a.png) repeat-x;
}

#treeWindow li a:active {
	background:url(../images/bg-li-a-selected.png) repeat-x;
}

#treeWindow .textIcon{
	background: url(../images/icon-text.png) no-repeat left 50%; padding: 2px 0 2px 24px;
}

#treeWindow .imgIcon{
	background: url(../images/icon-img.png) no-repeat left 50%; padding: 2px 0 2px 24px;
}
#treeWindow .calIcon{
	background: url(../images/icon-cal.png) no-repeat left 50%; padding: 2px 0 2px 24px;
}

#treeWindow .dropIcon{
	background: url(../images/icon-drop.png) no-repeat left 50%; padding: 2px 0 2px 24px;
}

#treeWindow .comboIcon{
	background: url(../images/icon-combo.png) no-repeat left 50%; padding: 2px 0 2px 24px;
}

#metadataPanel {
	margin-top:20px;
	margin-left:10px;
}
