body{ font-family: "Helvetica Neue",Helvetica,Arial; color:#6f6f6f; }
    
body p {
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 12px;
    line-height: 14px;
    color:#6f6f6f;
    text-align:left;
}

h1 {
    color:#78808b;
    font-size:26px;
}

a {
    text-decoration:none;
    color:#2397d2;
}

a:hover {
    text-decoration:underline
}

img {
    border:0px;
    margin:0px;
    padding:0px;    
}

.button {
    margin: 0px;
    border: 1px solid #B2B2B2;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding: 4px 10px 4px 10px;        
    background: url("../../images/common/bg-bar-light.png") repeat-x;
    line-height: 14px;
    color:#444;
    font-size: 11px;
    font-weight: bold;           
    text-align: center;
    text-decoration:none; 
    cursor:pointer;   
    -user-select: none;
	-moz-user-select: none;
	-webkit-user-select: non
}

.button:hover {
    text-decoration:none;
}

.button.disabled {
    cursor:auto;
    color:#888;    
}

#wrapper { }

#container {
	width: 100%;
	float: left;
	margin-right: -200px;
}
#header {
	height: 50px;
	border-bottom: 1px solid #000;
	background: #fff;
}
#logo { 
    float: left;
    height: 25px;
    padding: 12px 0 0 14px;
    width: 186px;
}
#view-controls { 
	float:right;
	padding:5px 10px 0 0;
}
#deck-container {}
#deck-lists {
	width: 160px;
	float: left;
	padding:6px 10px;
}
#deck-lists ul {
	clear:both;
    margin: 3px 0 0 0;
    vertical-align: top;
    list-style: none outside none;
    cursor:pointer;
}
#deck-lists ul li {
	clear:left;
	float:left;
	display:block;
    color: #515151;
    cursor: pointer;
    padding:3px 10px;
	font-size:12px;	
}
#deck-lists .deck-thumb {
	float:left;
	margin:0px;
	padding:0px 2px;
}
#deck-lists .deck-thumb img {
	width:57px;
	height:43px;
	border:1px solid #000;
}
#deck-lists .deck-details {
	float:left;
	margin:0px;
	padding:0px 2px;
}
#deck-lists .name {
	font-weight:bold;
}

#deck-lists .library {
	font-size:14px;
	font-weight:bold;
	padding:5px 0;
}

#deck-view {
	margin-left: 181px;
	background-color:#fff;
	padding:4px 10px 16px 10px;
}
#deck-header {
	height:26px;
	padding:4px 0px 4px;
}
#deck {
	float:left;
}
#deck  .name {
	font-size:24px;
	line-height:24px;
	font-weight:bold;
}
#deck  .commands {}
#deck-lists .filter-box {
	height:24px;
}
#deck-lists .filter {
	float:left;
	margin-right:5px;
	height:24px;
}
#deck-header .filter {
	float:right;
}
.filter em {
    display: none;
}
.filter input {
    border: 1px solid #000;
    border-radius: 5px 5px 5px 5px;
    color: #A9A9A9;
    font-size: 10px;
    padding: 4px 3px 4px 16px;
    width: 120px;
	background:url('../images/filter.png') no-repeat left top;
	background-position: 4px 5px;
}
#deck-lists .filter input {
	width: 110px;
}

#deck-playlist {
	height:107px;  /* 47 */
 	padding:8px 6px;
	border:1px solid #000;
	overflow:hidden;
}
#deck-slide-view {
	height:500px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	display:none;
}
#deck-search-results {
	height:500px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	overflow:auto;
	margin:0 auto;
}
#deck-playlist ul {
    vertical-align: top;
    list-style: none outside none;
    cursor:pointer;
}
#deck-search-results ul {
    vertical-align: top;
    list-style: none outside none;
    cursor:pointer;
	overflow:none;
}
#deck-playlist ul li, #deck-search-results ul li {
	display:inline-block;
    cursor: pointer;
}

/* IE 7 hack*/
*:first-child+html #deck-playlist ul li,*:first-child+html #deck-search-results ul li {
	float:left;
	display:block;
}
#deck-playlist img {
	width:55px;
	height:45px;
	border:1px solid #000;
	margin:0px 4px;
}
#deck-search-results img {
	width:165px;
	height:135px;
	border:1px solid #000;
	margin:10px;
}
#deck-playlist .ui-sortable-helper , #deck-playlist .ui-sortable-placeholder {
	height:45px;
	width:55px;
}
#deck-search-results .ui-sortable-helper, #deck-search-results .ui-sortable-placeholder {
	width:165px;
	height:135px;
	margin:11px;
}

.library-deck-btn {
	float:left;
    background: url("../images/icon-workspace.png") no-repeat scroll 0 -72px transparent;
    cursor: pointer;
    height: 24px;
    width: 30px;
}
.library-deck-btn:hover {
    background-position: 0 -96px;
}
.library-deck-btn.closed {
    background-position: 0 0;
}
.library-deck-btn.closed:hover {
    background-position: 0 -24px;
}

.gear-btn {
	float:left;
    background: url("../images/btn-bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    width: 21px;
    height: 21px;
    padding: 0;
}
.gear-btn p {
    padding: 2px;
    text-align: center;
}
.deck-title {
	clear:both;
	margin:20px 0 0 0;
}
.deck-title .name {
	float:left;
    font-size: 14px;
    font-weight: bold;
    padding:5px 0 5px 3px;
}
/* highlights deck icon when hovering the deck name
.deck-title:hover .library-deck-btn {
    background-position: 0 -96px;
}
.deck-title:hover .library-deck-btn.closed {
    background-position: 0 -24px;
}
*/
#deck-viewer {
	position:absolute;
	width:559px;
	height:275px;
	z-index:101;
	display:none;
}
#deck-viewer-arrow {
	margin-right:-1px;
	float:left;
	width:35px;
	height:275px;
	background: url("../images/deck-preview-arrow.png") no-repeat scroll 0 130px transparent;
	z-index:121;
}
#deck-viewer-contents {
	float:left;
	width:520px;
	height:275px;
	border:1px solid #000;
	background-color:#dfe5e6;
	z-index:121;
}
#deck-viewer-header {
	width:517px;
	height:14px;
	border-bottom:1px solid #000;
	background-color:#fff;
    font-size: 14px;
    font-weight: bold;
    padding:5px 0 5px 3px;
}
#deck-viewer-slides{
	width:520px;
	height:250px;
}
#deck-viewer-slide-previous, #deck-viewer-slide-next {
	float:left;
	width:33px;
	height:250px;
    cursor:pointer;
	background-position:8px 110px;
}
#deck-viewer-slide-next{
	border-left:1px solid #dfe5e6;
}
#deck-viewer-slide-previous{
	border-right:1px solid #dfe5e6;
}

#deck-viewer-slide-next:hover{
	border-left:1px solid #000;
}
#deck-viewer-slide-previous:hover{
	border-right:1px solid #000;
}

#deck-viewer-slide-previous {
	background: url("../images/arrow-left.png") no-repeat scroll 8px 100px transparent;
}
#deck-viewer-slide-next {
	background: url("../images/arrow-right.png") no-repeat scroll 8px 100px transparent;
}
#deck-viewer-contents #deck-viewer-list {
	float:left;
	width:450px;
	overflow:hidden;
	text-align:center;
	vertical-align:middle;
	margin-top:14px;
}

#deck-viewer-contents ul {
    list-style: none outside none;
	overflow:none;
}
#deck-viewer-contents ul li {
    vertical-align: middle;
	display:none;
    cursor: pointer;
	text-align:left;
}
#deck-viewer-contents ul li.med, #deck-viewer-contents ul li.lg{
	display:inline-block;
}
/* IE 7 hack */
*:first-child+html #deck-viewer-contents ul li.med,*:first-child+html #deck-viewer-contents ul li.lg  {
	float:left;
	display:block;
}
#deck-viewer-contents ul li.med img{
	width:88px;
	height:66px;
	border:1px solid #000;
}
#deck-viewer-contents ul li.lg img{
	width:248px;
	height:190px;
	border:1px solid #000;	
}

.vmenu{
	 border:1px solid #aaa;
	 position:absolute;
	 background:#fff;	
	 display:none;
	 font-size:0.75em;
}
.vmenu .first_li span{
	width:100px;
	display:block;
	padding:5px 10px;
	cursor:pointer;
}

.vmenu .second_li span{
	width:100px;
	display:block;
	padding:5px 10px;
	cursor:pointer;
}
    
